<!DOCTYPE html>
<html>





<!-- Body Contents -->
<body>

<!-- Instruct -->
<h1 class="login-instruct text-center">JumpIn</h1>

<!-- Form Control -->
<div class="card login-form">
  <%= image_tag("FormLogo.png", :alt => 'FormImage', :class => 'FormImage') %>

  <!-- Form Contents -->
  <div class="card-body">

    <!-- Email -->
    <h5 class="login-email-label">Email Address</h5>
    <input type="email" class="login-email form-control float-left"> <br>

    <!-- Password -->
    <h5 class="login-password-label">Password</h5>
    <input type="password" class="login-password form-control float-left">

    <br>

    <!-- Finalization -->
    <button class="signup-button-main btn btn-primary lead">Jump</button>

  </div>

</div>


<% yield %>
</body>





</html>