<html>

<body style="background-color: #112330;">

  <%= image_tag("404.gif", :alt => '404', :class => 'notfound-style') %>

  <div class="text-center">
    <br> <br> <br>
    <%= link_to "Back To Road", root_path, :class => 'btn btn-primary notfound-button' %>
  </div>

</body>

</html>