<!-- Navigation Bar -->
<div class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <header class="masthead mb-auto">
      <div class="inner">

        <!-- NavItems -->
        <nav class="nav nav-masthead justify-content-center navbar-static-top">


          <div class="nav-item">

            <!-- Logo Brand -->
            <%= link_to root_path do %>
              <%= image_tag("RootLogo.png", :alt => "RootLogo", :class => "RootlLogo") %>
            <% end %>

            <!-- SignUp & Login Buttons -->

          </div>


        </nav>

      </div>
    </header>

  </div>

</div>