


.RootLogoDashboard {

  margin-top: 20px;

}

.dashboard-nav {

  background-color: #152734;
  color: white;
  min-height: 10vh;

}

.dashboard-menu-items a {

  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  text-decoration: none;
  margin-right: 20px;
  margin-left: 20px;

}

.dashboard-menu-items a:hover {

  color: #2BD2FF;

}

.signout-admin {

  margin-top: 16px;
  margin-right: 30px;
  border-color: transparent;
  padding: 2vh 2vw;
  font-family: 'Rubik', sans-serif;
}

.stuff-info {

  font-size: 2vh;

}

.side-container {

  background-color: #152734;

}

.purchase-table {

  color: white;
  font-family: 'Rubik', sans-serif;

}

.create-labels {

  color: white;
  font-family: 'Fredoka One', cursive;
  font-size: 2vh;

}

