$root-color: #152734;


.body {

  background-color: $root-color;
  overflow-x: hidden;

}

.navbar {

  margin-top: 30px;

}

.nav-item a {

  color: white;
  font-family: 'Capriola', sans-serif;
  font-size: 20px;
  text-decoration: none;
  margin-right: 20px;
  margin-left: 20px;

}

.nav-item a:hover {

  color: #08fcac;

}


.signup-button {

  margin-left: 20px;
  color: white;
  border-color: transparent;
  background-color: #08fcac;
  padding: 15px 20px;
  font-family: 'Rubik', sans-serif;

}

.login-button {

  font-family: 'Rubik', sans-serif;
  background-color: transparent;
  border-color: transparent;
  padding: 15px 20px;
  color: #08fcac;

}

.main-content {

  color: white;
  margin-left: 220px;
  margin-top: 210px;
  font-size: 12vh;
  font-family: 'Quicksand', sans-serif;

}


.main .RootImage {

  max-width: 50vw;
  max-height: 50vh;
  width: auto;
  height: auto;
  margin-right: 260px;
  margin-left: 100px;

}


.main-text {

  margin-top: 50px;
  color: #08fcac;
  font-size: 10vh;
  font-family: 'Nunito', sans-serif;

}

.sub-text {

  margin-top: 50px;
  color: #3e9996;
  font-size: 4vh;
  font-family: 'Nunito', sans-serif;

}

.searchbar {

  display: block;
  margin : 0 auto;
  margin-top: 30px;
  max-width: 100vh;
  min-height: 50px;
  border-color: white;
  color: #08fcac;

}

.searchbar:hover {

  border-color: #152734;

}

.searchbar::placeholder {

  color: #152734;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;

}

.SignupLogo {

  margin-top: 50px;
  margin-left: 150px;

}

.SignupImage {

  margin-top: 50px;
  margin-left: 150px;

}

.archive-info {

  margin-left: 175px;
  color: #08fcac;
  font-size: 3vh;
  font-family: 'Pacifico', cursive;

}

.whole {

  background-image: url('SearchBackground.png');

}

.FormImage {

  background-color: #002e41;
  max-width: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

}

.signup-firstname-label {

  margin-top: 30px;
  color: white;
  font-family: 'Fredoka One', cursive;

}
.signup-lastname-label {

  color: white;
  font-family: 'Fredoka One', cursive;

}

.signup-email-label {

  margin-top: 80px;
  color: white;
  font-family: 'Fredoka One', cursive;

}

.signup-password-label {

  margin-top: 15px;
  color: white;
  font-family: 'Fredoka One', cursive;

}

.signup-form {

  margin-right: 250px;
  max-width: 25vw;
  min-height: 70vh;
  background-color: #173c52;
  margin-bottom: 100px;

}

.signup-firstname {

  max-width: 10vw;
  min-height: 5vh;
  background-color: #e4ddd4;

}

.signup-lastname {

  max-width: 10vw;
  min-height: 5vh;
  background-color: #e4ddd4;

}

.signup-email {

  max-width: 20vw;
  min-height: 5vh;
  background-color: #e4ddd4;

}

.signup-password {

  margin-bottom: 10px;
  max-width: 20vw;
  min-height: 5vh;
  background-color: #e4ddd4;

}

.signup-button-main {

  margin-top: 60px;
  margin-left: 32%;
  padding: 1.5vh 2vw;
  font-size: 20px;
  font-family: 'Fredoka One', cursive;
  border-color: #002e41;
  background-color: #002e41;

}

.login-email-label {

  margin-top: 30px;
  margin-bottom: 20px;
  color: white;
  font-family: 'Fredoka One', cursive;

}
.login-password-label {

  margin-top: 60px;
  margin-bottom: 20px;
  color: white;
  font-family: 'Fredoka One', cursive;

}

.login-email {

  max-width: 20vw;
  min-height: 5vh;
  background-color: #e4ddd4;

}

.login-password {

  max-width: 20vw;
  min-height: 5vh;
  background-color: #e4ddd4;

}

.login-form {

  max-width: 25vw;
  max-height: 70vh;
  background-color: #173c52;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

}

.login-instruct {

  font-size: 10vh;
  color: white;
  margin-top: 40px;
  font-family: 'Pacifico', cursive;

}












.scrolling-wrapper {
  overflow-x: auto;
}

.main-items-subject {

  margin-left: 30px;
  color: white;
  font-family: 'Fredoka One', cursive;

}

.subtitle {
  font-size: 1.25em;
  opacity: 0.65;
}

.card-block {
  height: 250px;
  background-color: #fff;
  border: none;
  background-position: center;
  background-size: cover;
  transition: all 0.2s ease-in-out !important;
  border-radius: 24px;
  &:hover{
    transform: translateY(-5px);
    box-shadow: none;
  }
}

.card-1 {
  margin-left: 30px;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.card-2 {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.card-3 {
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}

.card-4 {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.card-5 {
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

.card-6 {
  margin-right: 30px;
  background-color: #FA8BFF;
  background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
}

