$root-color: #152734;


.body {

  background-color: $root-color;

}

.navbar {

  margin-top: 30px;

}

.nav-item a {

  color: white;
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  text-decoration: none;
  margin-right: 20px;
  margin-left: 20px;


}

.signup-button {

  margin-left: 20px;

}
