
.profile-nav {

  background-color: #152734;
  color: white;
  min-height: 100px;

}



.user-heading {

  background: #152734;
  color: #fff;
  text-align: center;
  margin-top: 80px;
  padding: 60px;

}

.user-heading .main-profile-image  {

  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 8px solid rgba(255,255,255,0.3);
  display: inline-block;


}

.user-heading a img {

  width: 112px;
  height: 112px;
  border-radius: 50%;
  -webkit-border-radius: 50%;

}

.profile-name {

  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;

}

.profile-email {

  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;

}

.profile-nav-items a {

  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  text-decoration: none;
  margin-right: 20px;
  margin-left: 20px;

}

.profile-nav-items {

 margin-top: 8px;

}





















.hello-settings {

  margin-left: 50px;
  color: #08fcac;
  font-family: 'Rubik', sans-serif;
  font-size: 5vh;

}

.badge-primary{

  font-family: Nunito, sans-serif;

}

.settings-account-info {

  margin-top: 50px;
  margin-left: 70px;
  color: #08fcac;
  font-family: 'Capriola', sans-serif;
  font-size: 2vh;

}

.bio-chart {

  max-width: 30vw;
  min-height: 10vh;
  margin-top: 50px;
  margin-left: 100px;
  background-color: #002e41;

}


.count-info {

  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;

}



.upload-avatar {

  margin-top: 80px;
  margin-left: 100px;

}














